/*
 * MyBB: Andreas09-Green Frontend Theme 
 *
 * File: thread_status.css File
 * 
 * Authors: MyBB Themes PL & Vintagedaddyo
 *
 * MyBB Version: 1.8
 *
 * Theme Version: 1.1
 * 
 */

.thread_status {
	display: inline-block;
	background-repeat: no-repeat;
	height: 18px;
	width: 18px;
}

.thread_status.dot_folder {
  background-image: url(../../../themes/andreas09-green/dot_folder.png);
}

.thread_status.dot_hotfolder {
  background-image: url(../../../themes/andreas09-green/dot_hotfolder.png);	
}

.thread_status.dot_hotclosefolder {
  background-image: url(../../../themes/andreas09-green/dot_hotlockfolder.png); 
}

.thread_status.dot_closefolder {
 background-image: url(../../../themes/andreas09-green/dot_lockfolder.png);
}

.thread_status.dot_newfolder {
 background-image: url(../../../themes/andreas09-green/dot_newfolder.png);
}

.thread_status.dot_newhotfolder {
 background-image: url(../../../themes/andreas09-green/dot_newhotfolder.png); 
}

.thread_status.dot_newhotclosefolder {
 background-image: url(../../../themes/andreas09-green/dot_newhotlockfolder.png);  
}

.thread_status.dot_newclosefolder {
 background-image: url(../../../themes/andreas09-green/dot_newlockfolder.png); 
}

.thread_status.folder {
 background-image: url(../../../themes/andreas09-green/folder.png); 
}

.thread_status.hotfolder {
 background-image: url(../../../themes/andreas09-green/hotfolder.png);  
}

.thread_status.hotclosefolder {
   background-image: url(../../../themes/andreas09-green/hotlockfolder.png); 
}

.thread_status.closefolder {
   background-image: url(../../../themes/andreas09-green/lockfolder.png); 
}

.thread_status.movefolder {
    background-image: url(../../../themes/andreas09-green/movefolder.png);
}

.thread_status.newfolder {
    background-image: url(../../../themes/andreas09-green/newfolder.png); 
}

.thread_status.newhotfolder {
 background-image: url(../../../themes/andreas09-green/newhotfolder.png);
}

.thread_status.newhotclosefolder {
    background-image: url(../../../themes/andreas09-green/newhotlockfolder.png); 
}

.thread_status.newclosefolder {
    background-image: url(../../../themes/andreas09-green/newlockfolder.png);  
}
	
		