/*************** Cabecalho *******************************************/
.borda-esquerda {
    border-left: 1px solid #eee;
    height: 100%;
}

.borda-direita {
    border-right: 1px solid #eee;
    height: 100%;
}

.borda-baixo {
    border-bottom: 1px solid #bbbbbb;
    box-shadow:0px -3px 6px black;
    background: #fff;
}

ul {
    list-style: none;
    margin-left: -15px;
}


*/
/****************      corpo         *********************************/
body {
    background: #fafafa;
}

#corpo {
    display: flex;
    width: 100%;
    align-items: stretch;
    background:#f6f6f6;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}



/***********  menu *************************/

#menu {
    min-width: 250px;
    max-width: 250px;
    background: #52cd4e;
    color: #fff;
    transition: all 0.3s;
    height: inherit;
}

#menu.menu-cabecalho {
    padding: 20px;
    background: #6d7fcc;
}

#menu.menu-switch {
    margin-left: -250px;
}

#menu ul.menu-componetes {
    padding: 20px 0;
    margin-left: 5px;
}

#menu ul p {
    padding: 10px;
}

#menu ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#menu ul li a:hover {
    color: #7386D5;
    background: #fff;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.linha {
    margin: 0px;
}

.menu-dropdown {
    background: #76fc72;
}

.menu-dropdown li a {
    margin-left: 30px;
}

/************* scrollbar ************************/
#menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #52cd4e ; 
}

#menu::-webkit-scrollbar {
    width: 8px;
    background-color: #52cd4e;
}

#menu::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #76fc72; 
}

/********** Menu Mediaqueries - Quando tamanho da tela for menor que 786 *************************/
@media (max-width: 768px) {
    #menu {
        margin-left: -250px;
    }

    #menu.menu-switch {
        margin-left: 0;
    }
}

/*********** Conteudo ****************************************/
#conteudo  {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    background:#f6f6f6;
}

.texto-verde, .dir span {
    color: #52cd4e;
}

.texto-azul {
    color: rgb(33, 94, 207);
}

.cor-verde{
    background-color:#52cd4e;
}

.cor-creme {
    background: #f6f6f6;
}

.cor-borda {
    border: 1px solid #c2c2c2;
    background: #fff;
}
.conteudo-dir {
    border-bottom: 1px solid #c2c2c2;
}

.dir, .dir a {
    color: #8d8b8b;
    font-size: 13px;
}


.tabela {
    background: #fff;
    border: 1px solid #c2c2c2;
}

.titulo-tabela {
    color: #afafaf;
    font-size: 20px;
}

#scrolbar1 {
    overflow: auto;
    height: 300px;
}

/** canecalho de formulaarios, tabelas, etc ***/
.cor-borda3 {
    border: 0.1px solid #c2c2c2;
}

.cor-borda2 {
    border: 1px solid #c2c2c2;
}

.cor-borda {
    border: 1px solid #c2c2c2;
    background: #fff;
}

.borda-titulo {
	height: 8vh;
	border-top: 1px solid #c2c2c2;
	border-right: 1px solid #c2c2c2;
	border-left: 1px solid #c2c2c2;
	color: #afafaf;
	background: #f6f6f6;
    padding-top: 1vh;
    font-size: 20px;
}