#form-pub{margin-top: 100px;
		  margin-left: 300px; 
		  margin-right: 300px;
		  position: absolute;}
		  
#campo{border-color: black;}

.breadcrumb{
    background-color: rgb(82, 205, 78);
    color: black;
}
