.cor-verde{
    background-color:#52cd4e;
}

.bgfooter{
    background-color: rgba(0,0, 0, .7);
}

.footercor{
    color: aliceblue;
}

.footer-border{
    border-bottom: 1px solid rgba(0,0, 0, .3);
    border-top: 1px solid rgba(0,0, 0, .3);
}

.borda-form{
    box-shadow:0px 0px 6px rgba(0,0,0,1);
}